# Programs
if [[ "$OSTYPE" =~ ^darwin ]]; then
	alias google-chrome-stable='open -a "Google Chrome"'
	alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
	alias updatedb='sudo /usr/libexec/locate.updatedb'
else
	# Simulates pbcopy. requires xclip installed.
	alias pbcopy='xclip -selection clipboard'
	alias pbpaste='xclip -selection clipboard -o'
fi

# Enable color support of ls and also add handy aliases
if [[ -x /usr/local/bin/gdircolors ]] || [[ -x /usr/bin/dircolors ]]; then
	if [[ "$OSTYPE" =~ ^darwin ]]; then
		test -r ~/.dircolors && eval "$(gdircolors -b ~/.dircolors)" || eval "$(gdircolors -b)"
		alias gls='gls --color=auto'
		alias gdir='gdir --color=auto'
		alias gvdir='gvdir --color=auto'
	else
		test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
		alias ls='ls --color=auto'
		alias dir='dir --color=auto'
		alias vdir='vdir --color=auto'
	fi

	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
else
	if [[ "$OSTYPE" =~ ^darwin ]]; then
        type ls >/dev/null || alias ls='ls -G'
		alias grep='grep --colour'
	fi
fi

# IP addresses
alias ip="curl ipinfo.io/ip"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Trim new lines and copy to clipboard
alias trimcopy="tr -d '\n' | pbcopy"

# Copy current dir path
alias pwdcopy="pwd | tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# Hide/show all desktop icons (useful when presenting)
if [[ "$OSTYPE" =~ ^darwin ]]; then
	alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
	alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
fi

# ls aliases
alias l="ls -F1"
alias la="ls -F1a"
alias ll="ls -l"
alias lla="ll -a"
alias llt="ll -t"

# git aliases
alias gst="git st"
alias gd="git diff"
alias gs="git s"
alias gdf="git df"
alias gcdiff="git difftool --extcmd icdiff"
alias gl="git l"
alias glg="git lg"
alias ga="git add"
alias gau="git add -u"
alias gcim="git commit -m"
alias gaucim="git add -u && git commit -m"

# trash-put aliases
alias trash-vimswp="trash-put ~/.vim/swaps && mkdir ~/.vim/swaps"
