[user]
	name = Michael Jae-Yoon Chung
	email = mjyc@cs.washington.edu
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	up = pull
	p = push
	c = commit -am
	s = status -s
	df = diff --color --color-words --abbrev
	l = log --oneline -n 15
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color]
	ui = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[help]
	autocorrect = 1
[icdiff]
	options = --highlight --line-numbers
[merge]
	log = true
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
